/* Érre Technology - Challenge ‘24
Made by: André Ferreira 
Date: 12/04/2024*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Title of the main page component */
.main-page {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Button of register and login form */
.btn-redirect {
  text-align: center;
  padding-top: 20px;
}
